@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --sidebarColor: #055a82;
  --grayContentColor: #e7e5e4;
  --grayContentColor2: #f9f9f9;
  --grayContentColor3: #555352;
  --boxShadow: 4px 5px 5px 0px rgb(0 0 0 / 50%);
  --sidebarWidth: 280px;
  --announcementHeight: 400px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.body-class {
  grid-template-columns: auto 1fr;
}

.dd_main {
  background-color: var(--sidebarColor);
  position: absolute;
  top: 85px;
  right: 20px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  box-shadow: var(--boxShadow);
  z-index: 1;
}

#profile-select {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0;
}

#profile-select > i {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.575);
}

body {
  overflow: hidden;
  margin: 0;
  background-color: var(--grayContentColor);
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  margin: 0;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
}

#header {
  grid-column: header;
}

#sidebar {
  grid-row: sidebar;
}

li {
  list-style: none;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1.2rem;
  border-radius: 8px;
}

li:hover {
  background-color: #25414c8a;
}

ul {
  padding: 0;
  margin: 0;
}

.container-sidebar,
button {
  background-color: var(--sidebarColor);
  color: white;
}

button,
.material-symbols-outlined,
i,
li {
  cursor: pointer;
}

.container-sidebar-contents {
  position: sticky;
  top: 0;
}

.container-settings {
  margin-top: 50px;
}

.header-sidebar {
  padding: 20px;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
}

#searchbox,
button {
  border-radius: 20px;
  border: 0;
}

#searchbox {
  padding: 20px;
  box-sizing: border-box;
  height: 2rem;
  background-color: var(--grayContentColor);
  width: 400px;
}

button {
  padding: 20px;
  height: 2rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

button:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.clicked {
  font-weight: bold;
  transition: 0.1s;
  font-size: 1.3rem;
  background-color: #25414c;
}

.container-header {
  padding: 10px;
  padding-top: 0;
  box-shadow: var(--boxShadow);
  background-color: var(--grayContentColor2);
}

#icon-header-first {
  height: 50px;
  cursor: pointer;
}

#icon-header-second {
  height: 70px;
}

.container-header-first,
.container-header-second,
.container-header-items,
.profile {
  display: flex;
  align-items: center;
}

.profile {
  align-items: center;
  gap: 5px;
}

.container-header-first,
.container-header-second {
  justify-content: space-between;
  margin: 10px;
}

.container-header-second {
  margin-top: 15px;
}

.container-header-items {
  gap: 30px;
}

#profile-group {
  flex-direction: column;
}

#name-header-first,
#name-header-second2,
#name-header-second1 {
  font-weight: bold;
}

#name-header-second1,
#name-header-second2 {
  margin: 5px;
}

#name-header-second2 {
  font-size: 1.5rem;
}

#search-group {
  gap: 5px;
}

.header-icon-font {
  font-size: 1.5rem;
}

#header-buttons {
  gap: 15px;
}

.sidebar-contents > ul,
.sidebar-contents > div {
  flex-grow: 1;
}

.container-main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hidden {
  max-height: 0;
}

main {
  grid-column: main;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: repeat(2, var(--announcementHeight));
  grid-template-areas:
    'projects announcements'
    'projects trending';
  overflow: auto;
  grid-area: main;
  padding: 35px;
  margin-top: 6px;
  padding-top: 10px;
}

.container-projects {
  grid-column: projects;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 250px;
  gap: 30px;
  margin-right: 50px;
  padding-bottom: 2rem;
}

.container-announcements {
  grid-column: announcements;
}

.container-trending {
  grid-column: trending;
}

.project-item {
  background-color: var(--grayContentColor2);
  border-radius: 12px;
  padding: 20px;
  padding-top: 10px;
  border-left: 0.6rem solid #edbe00;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.announcements {
  border: 0;
  height: calc(var(--announcementHeight - 130px));
  background-color: var(--grayContentColor2);
  border-radius: 12px;
  padding: 30px;
  padding-top: 20px;
}

.icon-hi {
  gap: 0;
}

.project-item-text {
  color: var(--grayContentColor3);
  margin-top: 0;
}

.project-item-icons {
  font-size: 2.5rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

a > i {
  transition: transform 0.3s ease-in-out;
  margin: 3px;
}

a > i:hover {
  transform: rotate(360deg) scale(1.4);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.announcements-text {
  color: var(--grayContentColor3);
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

img {
  border-radius: 100%;
}

.github-live {
  font-size: inherit;
}

.icon-tech-stack {
  height: 2.5rem;
}

.project-item-headers {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

.trending-announcement-headers {
  margin: 0;
  margin-top: 10px;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-headers {
  margin-left: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}

.hiddenMenu,
.header-icon-font {
  padding: 10px;
  border-radius: 4px;
}

.hiddenMenu {
  font-size: 3rem;
}

.hiddenMenu:hover,
.header-icon-font:hover {
  background-color: rgba(128, 128, 128, 0.267);
}

.hidden,
.active {
  top: 0;
  left: 0;
  pointer-events: none !important;
  position: absolute !important;
  max-height: 0 !important;
  opacity: 0 !important;
}

.msg-content {
  font-size: 1.5rem;
  padding: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.568);
}

/* media queries */
@media (max-width: 1050px) {
  #searchbox {
    width: 300px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  .container-projects {
    margin-right: 0;
    grid-auto-rows: 200px;
  }
}

@media (max-width: 900px) {
  body {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .sidebar-contents {
    display: flex;
    padding-bottom: 20px;
  }
  main {
    padding: 20px;
    overflow: unset;
  }
  .container-settings {
    margin: 0;
  }
  .container-trending-announcement {
    margin: 30px;
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  #searchbox {
    width: 200px;
  }
}

@media (max-width: 520px) {
  :root {
    font-size: 14px;
  }
  #searchbox {
    display: none;
  }
}
